<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <h1>Bienvenido a la página de inicio :)</h1>
  <p>Variable Global: {{ global_var }}</p>
</body>
</html>